<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>My Jupyter Notebook on IBM Watson Studio<h1>

<i>In this notebook, Data Science Tools and Ecosystem are summarized.<i>

<h4>Objectives</h4>
<ul>
    <li>List popular data science langauges</li>
    <li>List popular data science packages</li>
    <li>List popular data science tools</li>
    <li>List Python arithmetic examples</li>
    <li>Function to multiply 2 numbers and add a third</li>
    <li>Function to convert minutes to hours, to 2 decimal places</li>
</ul>

Data Science Languages
<ol>
    <li>Python</li>
    <li>SQL</li>
    <li>R</li>
    <li>Java</li>
    <li>Scala</li>
    <li>Julie</li>
</ol>

Data Science Libraries
<ol>
    <li>Pandas</li>
    <li>Nunpy</li>
    <li>Seaborn</li>
    <li>Matplotlib</li>
    <li>BeautifulSoup</li>
    <li>PyTorch</li>
    <li>TensorFlow</li>
</ol>

<table>
    <thead>
        <tr>
            <th>Data Science Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Oracle Database</td>
        </tr>
        <tr>
            <td>Microsoft SQL Server</td>
        </tr>
        <tr>
            <td>IBM Db2</td>
        </tr>
        <tr>
            <td>IBM InfoSphere DataStage</td>
        </tr>
        <tr>
            <td>SAP</td>
        </tr>
        <tr>
            <td>Microsoft PowerBI</td>
        </tr>
        <tr>
            <td>Tableau</td>
        </tr>
        <tr>
            <td>Cognos Analytics</td>
        </tr>
    </tbody>
</table><br>

Below are a few examples of evaluating arithmetic expressions in Python

<table>
    <thead>
        <tr>
            <th>Expression</th>
            <th>Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Addition</td>
            <td>3 + 5 = 8</td>
        </tr>
        <tr>
            <td>Subtraction</td>
            <td>3 - 5 = -2</td>
        </tr>
        <tr>
            <td>Multiplication</td>
            <td>3 * 5 = 15</td>
        </tr>
        <tr>
            <td>Division</td>
            <td>3 + 5 = 0.6</td>
        </tr>
        <tr>
            <td>Remainder</td>
            <td>13 % 5 = 3</td>
        </tr>
    </tbody>
</table>

<h5>Evaluating Basic Arithmetic Expressions<h5>

In [7]:
def multiply(a,b,c):
    print(a*b+c)

multiply(12,89,50)

1118

<h5>Converting Minutes to Hours<h5>

In [5]:
import numpy
def min_to_hrs(minutes):
    print(numpy.round(minutes/60,2))
    
min_to_hrs(489616)

8160.27

Author's Name: Amrit M